// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #222;

$meter-background-color:  darken($background-color, 15%);
$meter-color: white;

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;

  input.meter {
    background-color: $meter-background-color;
    color: $meter-color;
  }
  .title {
    font-size: 60px;
  }
}

.sub_title {
  font-size: 55px;
  font-weight: 300;
}

