<% content_for :title do %>Base widget test<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="base0" data-view="Base" data-title="TEST"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="base1" data-view="Base" data-title="TEST"></div>
    </li>
    <li data-switcher-interval="3000" data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="base0" data-view="Base" data-title="TEST"></div>
      <div data-id="base1" data-view="Base" data-title="TEST"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hosts" data-view="Base" data-title="Хосты"></div>
    </li>
  </ul>
</div>
