<% content_for :title do %>Smart Home<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="clock" ></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="temp" data-view="Text" data-title="Weather" style="background-color:#330099;"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="usd_cur" data-view="Text" data-title="Dollar US" data-prefix="$"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="eur_cur" data-view="Text" data-title="Euro" data-prefix="$"></div>
    </li>
  </ul>
</div>
